Practical Question

1. Write a code to create a string with your name and print it ?

In [1]:
your_name = "Devesh Upadhyay"
print(your_name)

Devesh Upadhyay

2.  Write a code to find the length of the string "Hello World"

In [2]:
var = "Hello World"
print(len(var))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
var = "Python Programming"
print(var[:3])

Pyt

4.  Write a code to convert the string "hello" to uppercase

In [4]:
var = "hello"
print(var.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
var = "I like apple"
print(var.replace("apple","orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [7]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [9]:
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [11]:
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [12]:
letters = ['a','b','c','d']
second_element = letters[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [15]:
numbers = [10,20,30,40,50]
reverse_numbers = numbers[::-1] 
print(reverse_numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [16]:
elements = (100,200,300)
print(elements,type(elements))

(100, 200, 300) <class 'tuple'>

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [20]:
element =  ('red', 'green', 'blue', 'yellow')
second_to_last_element = element[-2]
print(second_to_last_element)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [23]:
number = (10,20,5,15)
minimum_number = min(number)
print(minimum_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [28]:
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print(cat_index)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [26]:
fruits = ('apple', 'banana', 'mango')
if 'kiwi' in fruits:
    print("Yes, 'kiwi' is in the tuple.")
else:
    print("No, 'kiwi' is not in the tuple.")

No, 'kiwi' is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [27]:
elements_set = {'a','b','c'}
print(elements_set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [30]:
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [31]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [32]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | (set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [33]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & (set2) 
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [34]:
person = {"name": "John", "age": 30, "city": "New York"}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [35]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [36]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [37]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [38]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Yes, 'city' key exists.")
else:
    print("No, 'city' key does not exist.")

Yes, 'city' key exists.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [39]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'John', 'age': 30}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'name': 'John', 'age': 30}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [40]:
import random
random_list = random.sample(range(1, 101), 5)
random_list.sort()
print(random_list)

[21, 39, 68, 79, 85]

28. Write a code to create a list with strings and print the element at the third index.

In [41]:
my_list = ["apple", "banana", "cherry", "date", "fig"]
print(my_list[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [42]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set

In [43]:
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print(string_set)

{'banana', 'cherry', 'apple'}